---
import Layout from "../layouts/Layout.astro";
---

<!-- The nav bar has been removed as requested. -->
<div
  class="min-h-screen flex items-center justify-center"
  style="background: #0a0a0a;"
>
  <img
    src="/assets/logos/horizontal-white.svg"
    alt="The Solo Miles Logo"
    style="max-width: 240px; width: 100%; height: auto;"
    class="mx-auto"
  />
</div>
