---
import "../styles/global.css";
const { title = "The Solo Miles", description = "Cycling • Travel • Design" } = Astro.props;
import Navbar from "../components/Navbar.astro";

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="min-h-dvh bg-white text-neutral-900 antialiased">
	<Navbar />
    <main class="mx-auto max-w-5xl p-6">
      <slot />
    </main>
  </body>
</html>
